<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/htm" charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Фильм безусный макс</title>
	<meta name="description" content="Filmix" />
	<link rel="stylesheet" href="../../assets/css/style.css">
	<link rel="stylesheet" href="../../assets/css/media-queries.css">

	<!-- Slippry: A Free jQuery Responsive Slider Plugin for Modern Times -->
	<link rel="stylesheet" href="../../assets/css/slippry.css">
	<link rel="stylesheet" href="../../assets/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/css/bootstrap-theme.min.css.map">
	<link rel="stylesheet" href="../../assets/css/bootstrap.min.css.map">

	<!-- Include the CSS -->
	<script src="../../assets/js/bootstrap.min.js"></script>
	<script src="../../assets/js/preloader.min.js"></script>
	<script src="../../assets/js/modernizr.js"></script> <!-- Modernizr -->
	<script src="../../assets/js/slippry.js"></script> <!-- slideshow -->
	<script src="../../assets/js/typed.js"></script> <!-- type ani -->

	<!-- Custom components -->
	<script src="../../components/footer_ff.js"></script>
	<script src="../../components/header_ff.js"></script>
	<script src="../../scrypts/check.js"></script>

</head>
<body>
	<!--- - - - - - - - Start Menubar - - - - - -->
	<div class="main">
		<div id="header"></div>
		<!--- - - - - - - - Start sidebar - - - - - -->
		<div class="site_content">
			<div class="sidebar_container">
				<div class="sidebar">
					<h2>Поиск</h2>
					<form method="post" action="#" id="search_form">
						<input type="search" name="search_field" placeholder="Ваш запрос" />
						<input type="submit" class="btn" value="Найти" />
					</form>
				</div>
				<div class="sidebar">
					<h2>Новости</h2>
					<span>30.09.2023</span>
					<p>Запустил серверную часть</p>
					<a href="#">Читать</a>
				</div>
				<div class="sidebar">
					<h2>Рейтинг фильмов</h2>
					<ul>
						<li><a href="#">Интерстеллар</a><span class="rating_sidebar">8.1</span></li>
						<li><a href="#">Матрица</a><span class="rating_sidebar">8.0</span></li>
						<li><a href="#">Безумный Макс: Дорога ярости</a><span class="rating_sidebar">7.5</span></li>
						<li><a href="#">Облачный атлас</a><span class="rating_sidebar">7.4</span></li>
					</ul>
				</div>
			</div>
			<!--- - - - - - - - Start main content - - - - - -->
			<div class="content">
				<h1>Безумный Макс: Дорога ярости</h1>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/-3ZoAp6owdk?showinfo=0" frameborder="0" allowfullscreen></iframe>
				<div class="info_film_page">
					<span class="label">рейтинг: </span><span class="value">7.5 / 10</span>
					<span class="label">год: </span><span class="value">2015</span>
					<span class="label">режиссер: </span><span class="value">Джордж Миллер</span>
				</div>
				<hr>
				<h2>Описание Безумный Макс: Дорога ярости</h2>
				<div class="descriptions_film">
					<img src="../../assets/img/max.png">
					В постапокалиптическом мире, где правила закона уступили место хаосу, Безумный Макс борется за выживание в беспощадной пустыне. Он вступает в конфликт с бандой воинов, управляемой безжалостной императрицей Фурией, и их погоней за бензином и властью.
				</div>
				<hr>
				<h2>Отзывы о Безумный Макс: Дорога ярости</h2>
				<div class="reviews">
					<div class="review_name">
						Анна
					</div>
					<div class="review_text">
						Фильм полон экшена и напряжения. Отлично подходит для любителей постапокалиптических приключений.
					</div>
				</div>
				<div class="reviews">
					<div class="review_name">
						Макс
					</div>
					<div class="review_text">
						Безумный Макс всегда оставляет след на сердце фанатов жанра. Этот фильм не исключение.
					</div>
				</div>
				<div class="send">
					<form method="post" action="#" id="review">
						<input type="text" name="review_name" placeholder="Ваше имя">
						<textarea name="review_text"></textarea>
						<input class="btn" type="submit" value="Отправить">
					</form>
				</div>
			</div>
		</div>
		<!--- - - - - - - - Start footer - - - - - -->
		<div id="footer"></div>
	</div>

    <!--- - - - - - - - Resource jQuery - - - - - -->
    <script src="../../assets/js/main.js"></script>
    <script src="../../assets/js/scrollReveal.min.js"></script>
    <!--- - - - - - - - Атрибут defer откладывает выполнение скрипта, пока вся страница не будет загружена полностью - - - - - -->
    <script src="../../assets/js/parallax.js" defer></script>
</body>
</html>
