<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Filmix"/>
	<title>Сериалы</title>
	<!-- Latest compiled and minified JavaScript -->
	<link rel="stylesheet" href="../assets/css/style.css">
	<link rel="stylesheet" href="../assets/css/media-queries.css">

	<!-- Slippry: A Free jQuery Responsive Slider Plugin for Modern Times -->
	<link rel="stylesheet" href="../assets/css/slippry.css">
	<link rel="stylesheet" href="../assets/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/bootstrap-theme.min.css.map">
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css.map">

	<!-- Include the CSS -->
	<script src="../assets/js/bootstrap.min.js"></script>
	<script src="../assets/js/preloader.min.js"></script>
	<script src="../assets/js/modernizr.js"></script> <!-- Modernizr -->
	<script src="../assets/js/slippry.js"></script> <!-- slideshow -->
	<script src="../assets/js/typed.js"></script> <!-- type ani -->

	<!-- Custom components -->
	<script src="../components/footer.js"></script>
	<script src="../components/header.js"></script>
	<script src="../scrypts/check.js"></script>

</head>
<body>
	<!--- - - - - - - - Start Menubar - - - - - -->
	<div class="main">
		<div id="header"></div>
		<!--- - - - - - - - Start sidebar - - - - - -->
		<div class="site_content">
			<div class="sidebar_container">
				<div class="sidebar">
					<h2>Поиск</h2>
					<form method="post" action="#" id="search_form" >
						<input type="search" name="search_field" placeholder="Ваш запрос" />
						<input type="submit" class="btn" value="Найти" />
					</form>
				</div>
				<div class="sidebar">
                    <h2>Новости</h2>
                    <span>30.09.2023</span>
                    <p>Запустил серверную часть</p>
                    <a href="#">Читать</a>
                </div>
				<div class="sidebar">
					<h2>Рейтинг фильмов</h2>
					<ul>
						<li><a href="./films/interstellar.html">Интерстеллар</a><span class="rating_sidebar">8.0</span></li>
						<li><a href="./films/matrix.html">Матрица</a><span class="rating_sidebar">8.3</span></li>
						<li><a href="./films/mad_max.html">Безумный макс</a><span class="rating_sidebar">7.6</span></li>
						<li><a href="./films/cloud_atlas.html">Облачный атлас</a><span class="rating_sidebar">7.8</span></li>
					</ul>
				</div>
				<div class="sidebar_button">
					<a href="#"></a>
				</div>
			</div>
			<!--- - - - - - - - Start main content - - - - - -->
			<div class="content">
				<div class="info_film">
					<img src="../assets/img/breakingbad.png">
					"Все тяжкие" - это американский телесериал, созданный Винсом Гиллиганом. Сериал рассказывает о Уолтере Уайте, учительнице химии, который решает стать наркокартелевладельцем после диагностирования смертельного заболевания. Сериал исследует темы преступности, моральных дилемм и изменения характера главного героя от обычного человека к криминальному гении.
					<div class="button"><a href="./serials/breaking_bad.html">Смотреть</a></div>
				</div>
				<div class="info_film">
					<img src="../assets/img/dead.png">
					"Ходячие мертвецы" - это американский телесериал, основанный на комиксах Роберта Киркмана, Тони Мура и Чарли Адлара. Сериал рассказывает о мире, зараженном зомби-вирусом, и уделяет внимание выживанию группы выживших людей. Он исследует темы выживания, морали и человеческих отношений в крайне опасных условиях после апокалипсиса.
					<div class="button"><a href="./serials/walking_dead.html">Смотреть</a></div>
				</div>
				<div class="info_film">
					<img src="../assets/img/silicon.png">
					"Силиконовая долина" - это комедийный телесериал, созданный Майком Джаджом и Алеком Бергом. Сериал рассказывает о молодых программистах и предпринимателях, стремящихся создать успешную стартап-компанию в Силиконовой долине. Он исследует темы технологического предпринимательства, конкуренции и сатиры на современную технологическую индустрию.
					<div class="button"><a href="./serials/silicon_valley.html">Смотреть</a></div>
				</div>
				<div class="info_film">
					<img src="../assets/img/xfiles.png">
					"Секретные материалы" - это американский телесериал, созданный Крисом Картером. Сериал следует за агентами ФБР Фоксом Малдером и Даной Скалли, которые расследуют необъяснимые и сверхъестественные явления, а также загадочные события. Сериал исследует темы заговоров, инопланетных жизней и мистики, а также отношений между главными персонажами.
					<div class="button"><a href="./serials/fles.html">Смотреть</a></div>
				</div>
			</div>
		</div>

<!--- - - - - - - - Start footer - - - - - -->
		<div id="footer"></div>
</div>



<!--- - - - - - - - Resource jQuery - - - - - -->
<script src="../assets/js/main.js"></script>
<script src="../assets/js/scrollReveal.min.js"></script>
<!--- - - - - - - - Атрибут defer откладывает выполнение скрипта, пока вся страница не будет загружена полностью - - - - - -->
<script src="../assets/js/parallax.js" defer></script>

</body>
</html>