<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/htm" charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Сериал во все тяжкие</title>
	<meta name="description" content="Filmix" />
	<link rel="stylesheet" href="../../assets/css/style.css">
	<link rel="stylesheet" href="../../assets/css/media-queries.css">

	<!-- Slippry: A Free jQuery Responsive Slider Plugin for Modern Times -->
	<link rel="stylesheet" href="../../assets/css/slippry.css">
	<link rel="stylesheet" href="../../assets/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/css/bootstrap-theme.min.css.map">
	<link rel="stylesheet" href="../../assets/css/bootstrap.min.css.map">

	<!-- Include the CSS -->
	<script src="../../assets/js/bootstrap.min.js"></script>
	<script src="../../assets/js/preloader.min.js"></script>
	<script src="../../assets/js/modernizr.js"></script> <!-- Modernizr -->
	<script src="../../assets/js/slippry.js"></script> <!-- slideshow -->
	<script src="../../assets/js/typed.js"></script> <!-- type ani -->

	<!-- Custom components -->
	<script src="../../components/footer_ff.js"></script>
	<script src="../../components/header_ff.js"></script>
	<script src="../../scrypts/check.js"></script>

</head>
<body>
    <!--- - - - - - - - Start Menubar - - - - - -->
    <div class="main">
        <div id="header"></div>
        <!--- - - - - - - - Start sidebar - - - - - -->
        <div class="site_content">
            <div class="sidebar_container">
                <div class="sidebar">
                    <h2>Поиск</h2>
                    <form method="post" action="#" id="search_form">
                        <input type="search" name="search_field" placeholder="Ваш запрос" />
                        <input type="submit" class="btn" value="Найти" />
                    </form>
                </div>
                <div class="sidebar">
                    <h2>Новости</h2>
                    <span>30.09.2023</span>
                    <p>Запустил серверную часть</p>
                    <a href="#">Читать</a>
                </div>
                <div class="sidebar">
                    <h2>Рейтинг сериалов</h2>
                    <ul>
                        <li><a href="#">Игра престолов</a><span class="rating_sidebar">9.3</span></li>
                        <li><a href="#">Во все тяжкие</a><span class="rating_sidebar">9.5</span></li>
                        <li><a href="#">Шерлок</a><span class="rating_sidebar">9.2</span></li>
                    </ul>
                </div>
            </div>
            <!--- - - - - - - - Start main content - - - - - -->
            <div class="content">
                <h1>Во все тяжкие</h1>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/L5l3vv9n7EU?showinfo=0" frameborder="0" allowfullscreen></iframe>
                <div class="info_film_page">
                    <span class="label">рейтинг: </span><span class="value">9.5 / 10</span>
                    <span class="label">год: </span><span class="value">2008-2013</span>
                    <span class="label">создатели: </span><span class="value">Винс Гиллиган</span>
                </div>
                <hr>
                <h2>Описание Во все тяжкие</h2>
                <div class="descriptions_film">
                    <img src="../../assets/img/breakingbad.png">
                    "Во все тяжкие" рассказывает историю Уолтера Уайта, химика, который начинает производить и продавать метамфетамин, чтобы обеспечить свою семью после диагностирования смертельной болезни. Сериал исследует его путешествие от учителя химии до наркобарона.
                </div>
                <hr>
                <h2>Отзывы о Во все тяжкие</h2>
                <div class="reviews">
                    <div class="review_name">
                        Иван
                    </div>
                    <div class="review_text">
                        "Во все тяжкие" - это безусловно один из лучших сериалов всех времен. Уникальный сценарий и выдающиеся актёрские способности.
                    </div>
                </div>
                <div class="reviews">
                    <div class="review_name">
                        Екатерина
                    </div>
                    <div class="review_text">
                        Этот сериал заставил меня переживать за персонажей, даже если они были антигероями. Великолепное произведение искусства.
                    </div>
                </div>
                <div class="send">
                    <form method="post" action="#" id="review">
                        <input type="text" name="review_name" placeholder="Ваше имя">
                        <textarea name="review_text"></textarea>
                        <input class="btn" type="submit" value="Отправить">
                    </form>
                </div>
            </div>
        </div>
        <!--- - - - - - - - Start footer - - - - - -->
        <div id="footer"></div>
    </div>

    <!--- - - - - - - - Resource jQuery - - - - - -->
    <script src="../../assets/js/main.js"></script>
    <script src="../../assets/js/scrollReveal.min.js"></script>
    <!--- - - - - - - - Атрибут defer откладывает выполнение скрипта, пока вся страница не будет загружена полностью - - - - - -->
    <script src="../../assets/js/parallax.js" defer></script>  
    
</body>
</html>
